::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-color-hover);
}
