:root {
    --scrollbar-track-color: #ffffff;
    --scrollbar-thumb-color: #1890ff;
    --scrollbar-thumb-color-hover: #40a9ff;

    --selection-color: #000000;
    --selection-bg-color: #d9d9d9;

    --color: #000000;
    --bg-color: transparent;
    --b-color: #d9d9d9;
    --color-hover: #40a9ff;
    --bg-color-hover: transparent;
    --b-color-hover: #40a9ff;

    --fill-color: #ffffff;
    --fill-bg-color: #1890ff;
    --fill-color-hover: #ffffff;
    --fill-bg-color-hover: #40a9ff;

    --outline-color: #1890ff4d;

    --success-color: #52c41a;
    --info-color: #1890ff;
    --warning-color: #faad14;
    --error-color: #ff4d4f;
}
