doctype html
html
    head
        title Sandbox
        script(src="/distribution" + js defer)
    body
        div(id="root")
        div(id="modal-root")
        div(id="notifications-root")
